.projectDetailsContainer {
  display: flex;
  gap: 3rem;
  margin: 4vw 0;
  height: 30vw;
}

.projectDetailsText {
  display: flex;
  flex-direction: column;
  min-width: 30%;
}

.projectDetailsImage {
  height: 30vw;
  max-width: 30vw;
  border-radius: 25px;
  background-position: 50%;
  background-repeat: no-repeat;
  object-fit: cover;
}

.projectNumber {
  margin-top: 0;
  padding-bottom: 0;
}

.projectDescription {
  margin-top: auto;
}
