@media only screen and (max-width: 700px) {
  .aboutPageSectionContainer {
    flex-direction: column;
  }

  .aboutPageTextContainer {
    width: auto;
    gap: 1rem;
  }
  .aboutPictureContainer {
    width: 100%;
    text-align: center;
  }

  .aboutPageTextContainer > p {
    font-size: 1rem;
  }
}
