.nav-bar {
  margin: 12px 24px;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3em;
}

.nav-item {
  gap: 16px;
  padding: 0 0.5rem;
}

.nav-item:hover {
  background-color: #d4d4d4;
}

.to-start {
  margin-right: auto;
}

.to-end {
  margin-left: auto;
}

.active-nav-item {
  border-radius: 4px;
  background-color: #fff968;
  padding: 0 1rem;
  margin: 0 8px;
  cursor: pointer;
}
