.nav-bar {
  padding: 1rem 2rem;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.nav-item {
  display: flex;
  padding: 0.25rem 1.25rem;
  align-items: center;
  border-radius: 4px;
}

.nav-item:hover {
  background-color: #d4d4d4;
}

.to-start {
  margin-right: auto;
}

.to-end {
  margin-left: auto;
}

.active-nav-item {
  border-radius: 4px;
  background-color: #fff968 !important;
  pointer-events: none;
  cursor: default;
}

.navItemGroup {
  display: inherit;
  gap: inherit;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 3.3px;
}

.logo-monogram {
  position: relative;
  height: 65.9px;
  object-fit: cover;
}

@media only screen and (max-width: 1250px) {
  .nav-bar {
    padding: 1rem 1rem;
  }
}
