.caseStudyBodyContainer {
  max-width: 900px;

  margin: auto;
  padding: 128px 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5em;
}

.caseStudyHeader {
  text-align: center;
}

.caseStudyTextPair {
  display: flex;
  flex-direction: inherit;
  gap: 2em;
}

.caseStudyBodyImage {
  max-width: 270px;
  aspect-ratio: 1/1;
}

.hasBodyImage {
  display: flex;
  flex-direction: row;
  gap: 3em;
}

.caseStudyBodyContainer > img {
  border-radius: 12px;
}

@media only screen and (max-width: 950px) {
  .caseStudyBodyContainer {
    margin: 0 1.5rem;
    padding: 3rem 0;
  }

  .hasBodyImage {
    flex-direction: column;
    align-items: center;
  }
}
