.footer {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 12rem;
}

.contactContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4rem;
}

.contactLinksContainer {
  display: inherit;
  align-items: inherit;
  flex-direction: row;
  gap: inherit;
}
