:root {
  font-family: Inter, sans-serif;

  color-scheme: light;
  color: hsla(0, 0%, 0%, 1);
  background-color: hsla(0, 0%, 97%, 1);
  /* background-color: hsla(0, 0%, 0%, 1); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.recent-grotesk {
  font-family: 'recent-grotesk', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.fw-900 {
  font-weight: 700;
}

.fw-700 {
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 500;
}

.fs-32 {
  font-size: 2rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-16 {
  font-size: 1rem;
}

a {
  text-decoration: inherit;
  color: inherit;
}

body {
  margin: 0;
}

html {
  margin: 0;
}

h1 {
  font-family: 'recent-grotesk', sans-serif;
  font-style: normal;

  font-weight: 700;
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-family: 'recent-grotesk', sans-serif;
  font-style: normal;

  font-size: 3rem;
  font-weight: 700;
  line-height: 75% !important;
  display: contents;
}

h3 {
  font-family: 'recent-grotesk', sans-serif;
  font-style: normal;

  font-size: 2.25rem;
  font-weight: 700;
  line-height: 75%;
}

p {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.4px;

  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
